{% extends 'base_layout.html' %}


{% block content %}
<div class="container">
  <form method="post" action="{% url 'wishlist:confirm_delete_item' request.user.id item.id %}">
    {% csrf_token %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Confirm item deletion</h5>
        <p class="card-text">Are you sure you want to delete <strong>{{ item.item_name }}</strong>?</p>
        <button class="btn btn-danger btn-lg" type="submit" name="delete" value="Delete">Delete</button>
        <a class="btn btn-secondary btn-lg" href="{% url 'wishlist:edit_wishlist' request.user.id %}">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
