{% extends 'base_layout.html' %}


{% block content %}
<div class="container">
  <form method="post">
    {% csrf_token %}
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Confirm deletion</h5>
        <p class="card-text">Are you sure you want to delete <strong>{{ object.title }}</strong>?</p>
        <button class="btn btn-danger btn-lg" type="submit" name="delete" value="Delete">Delete</button>
        <a class="btn btn-secondary btn-lg" href="{% url 'blog:post_details' object.pk %}">Cancel</a>
      </div>
    </div>
  </form>
</div>
{% endblock content %}
